@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
  text-shadow: 1px 0px 0px black;
}

body {
  font-family: 'Bree Serif', serif;
  background-color: black;
}
/*---------- SECCION 1 ----------  */
.landing {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  background-image: url(images/landing4.webp);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position: center center;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  gap: 20px;
  animation: mymove21 5s infinite;
  text-align: center;
  box-shadow: inset 0 0 15px 5px rgba(0,0,0,0.75);
animation: fadeInAnimation ease 2.5s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.landing img {
  width: 200px;
  animation: rotate-center 15s infinite;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.landing h1 {
  font-size: 2em;
  line-height: 46px;
  margin-top: -30px;
  font-weight: 300;
}

.landing h2 {
  font-size: 1.6em;
  line-height: 72px;
  font-weight: 400;
  letter-spacing: 10px;
  -webkit-animation: tracking-out-contract 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate-reverse both;
	        animation: tracking-out-contract 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate-reverse both;
}

@-webkit-keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

 @keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

.landing h3 {
  font-size: 1.2em;
  width: 90% ;
}


.landing h5 {
  font-size: 0.9em;
  width: 90% 
}

/*---------- SECCION 2 ----------  */

.hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(14, 11, 26, 0.568),rgba(8, 2, 36, 0.3));
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}
.topnav {
overflow: hidden;
background-color: rgba(0, 0, 0, 0.342);
position: fixed;
top: 0;
width: 100%;
z-index: 9999;
}

.topnav a {
float: right;
display: block;
color: #ffffff;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
font-weight: 900;
}

.topnav a:hover {
background-color: rgb(255, 255, 255);
;
color: rgb(0, 0, 0);
font-weight: 700;
border-radius: 5%;
}

.topnav .icon {
display: none;
}

@media screen and (max-width: 600px) {
.topnav a {
  display: none;
}

.topnav a.icon {
  float: right;
  display: block;
  background-color: #ffffff00;
  color: rgb(255, 255, 255);
}
}

@media screen and (max-width: 600px) {
.topnav {
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.topnav.responsive {
  height: 100vh;
  background: rgba(0, 0, 0, 0.952);
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 1.5em;
  align-items: center;
  flex-direction: column;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

span {
  width: 80%;
  height: 1px;
  background-color: #ffffff;
}

.topnav.responsive a {
  float: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8em;
  line-height: 200%;
  padding: 10px;
}

#link a:hover {
  background-color: #a6ff00;
}

.topnav .responsive a:hover {
  color: #a6ff00;
}
}


/* ---------SERVICIOS------------- */
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: inset 0 0 15px 5px rgba(0,0,0,0.75);
  background-color: white;
  color: rgb(0, 0, 0);
  width: 100%;
  
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;;
}

.cards img {
  width: 250px;
  height: 250px;
  border-radius: 20%;
  border: 5px solid #000000  
}

.cards h1 {
  font-weight: 900;
  
  padding: 5px;
  border-radius: 5%;
}

.cards h3 {
  font-weight: 400;
  color: rgb(0, 0, 0);
}

/*---------- SECCION 3 ----------  */

.adomicilio {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url(images/adomicilio2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center !important;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  color: black;
  padding: 50px;
  gap: 30px;
  text-align: center;
  background-attachment: fixed;
  box-shadow: inset 0 0 15px 5px rgba(0,0,0,0.75);
}

.adomicilio h1 {
  font-size: 1.8em;
  width: 180px;
  font-weight: 100;
}

.adomicilio h2 {
  font-size: 2em;
  width: 180px;
  background-size: 100%;
  animation: mymove35 5s infinite;
  border-radius: 10%;
}

.adomicilio p {
  font-size: 0.6em;
  font-style: italic;
  font-weight: bold;
}

@keyframes mymove35 {
  0% {
    color: #4283fd;
  }
  50% {
    color: rgb(255, 255, 255);
  }
  100% {
    color: #045af8;
  }
}

/*---------- SECCION 4 ----------  */

.marcas {
  margin-top: -150px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  box-shadow: inset 5 5 1px 1px rgba(0,0,0,0.75);
  background-color: white;
}

.marcas img{
  width: 150px;
  height: auto;
}

.partner {
  width: 100vw;
  background-color: white;
}

/*---------- SECCION 5 ----------  */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: rgb(255, 255, 255);
  height: 30vh;
  padding: 30px;
  gap: 30px;
  height: 30vh;
  width: auto;
  background: #355C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: rgb(255, 255, 255);
}

.contacto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contacto h3 {
  font-size: 2em;
  color: rgb(255, 255, 255);
  animation: mymove2 5s infinite;
  margin-top: 20px;
}

@keyframes mymove2 {
  0% {
    color: rgb(255, 255, 255);
  }
  50% {
    color: #ff0000;
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

.contacto p {
  font-size: 1em;
}

.contactoForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.contactoForm h2 {
  font-size: 2rem;
  margin-top: 20px;
  color: white;
  animation: mymove2 5s infinite;
}
.contactoForm input {
  border-radius: 0.5rem;
  height: 3rem;
  text-align: center;
  border: black 0.8px solid;
  outline: none;
}

#msjcontact {
  height: 8rem;
  width: 250px;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap:break-all;
}

.btnenviar {
  
  color: black;
  width: 150px;
  font-size: 2rem;
  margin-bottom: 30px;
}

.btnenviar:hover {
  
  color: white;
  background-color: #000000;
  width: 150px;
  font-size: 2rem;
  margin-bottom: 30px;
}

.copyright {
  padding-left: 15px;
  color: rgb(255, 255, 255);;
  font-size: 0.9em;
  background: #355C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: center;
}

.whatsapp img {
  width: 97%;
    -webkit-animation: heartbeat 1s ease-in-out infinite both;
            animation: heartbeat 1s ease-in-out infinite both;
  }

  .whatsapp{
    position:fixed;
    width:70px;
    height:70px;
    bottom:30px;
    right:20px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  


@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/*---------- MEDIA QUERIES ----------  */

@media screen and (min-width: 768px) {
  body {
    font-size: 260px;
  }
  .services {
    flex-direction: row;
    height: 70vh;
  }
  .adomicilio {
    justify-content: right;
    align-items: flex-end;
  }
  .adomicilio h1 {
    width: 40%;
  }
  .adomicilio h2 {
    margin-top: 50px;
    width: 100%;
    text-align: right;
  }
  .marcas {
    flex-direction: row;
    background-color: white;
  }
  .marcas img {
    width: 150px;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .services {
    width: 100%;
    flex-direction: row;
  }

  .cards {
    width: 500px;
  }

  .marcas {
    flex-direction: row;
  background-color: white;
  }

  .marcas img {
    width: 150px;
    height: auto;
  }

  .partner img {
    max-width: 26%;
    height: auto;
  }

  .adomicilio {
    flex-direction: column;
  }
  .adomicilio h1 {
    align-self: flex-end;
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
  }
  .adomicilio h2 {
    width: 100%;
    margin-top: 5%;
    text-align: right;
  }
}